@using CodingEvents.ViewModels
@model AddEventViewModel;

<h1>Add Event</h1>

<form method="post">
    <div asp-controller="Events" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
        <span asp-validation-for="ContactEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventLocation">Event Location</label>
        <input asp-for="EventLocation" />
        <span asp-validation-for="EventLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumOfAttendees">Number of Attendees</label>
        <input asp-for="NumOfAttendees" />
        <span asp-validation-for="NumOfAttendees" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RegistrationRequired">Register</label>
        <input asp-for="RegistrationRequired" />
        <span asp-validation-for="RegistrationRequired" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Event" />
</form>

